body {
  font-family: sans-serif;
  background-color: #ccc;
}

div,
body {
  box-sizing: border-box;
}
.flex-item:first-child {
  background-color: rgb(187, 112, 124);
}

.flex-item:nth-child(2n) {
  background-color: rgb(221, 158, 41);
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  align-items: center;
  border: 2px solid #000;
  gap: 20px;
}

.flex-item {
  background-color: #800;
  color: white;
  font-size: 40px;
  text-align: center;
  direction: rtl;
  flex-basis: 150px;
  flex: 1 1 100px;
}

.flex-item:last-child {
  background-color: rgb(0, 0, 0);
}
