body {
  margin: 0;
  font-family: sans-serif;
  color: #eee;
  background-color: #222;
}
h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.3em;
  padding: 10px;
}

.form_input {
  padding: 6px 20px;
}

form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 55px rgba(95, 92, 92, 0.6);
  margin-top: 25px;
  border-radius: 8px;
  font-size: 16px;
}

input,
textarea,
select {
  min-width: 100%;
  box-sizing: border-box;
  padding: 8px 6px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #000;
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
}

option {
  background-color: #222;
}

textarea {
  min-width: 100%;
  resize: vertical;
  min-height: 102px;
  font-family: sans-serif;
}

label {
  font-size: 1em;
  line-height: 2;
}

.checkbox {
  width: auto;
  height: 10px;
}

fieldset {
  margin: 0 20px;
  border: 1px solid #ddd6;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
}

legend {
  padding: 0 6px;
  color: #777;
}
